*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    background: radial-gradient(#fff,#ebc0c0);
}
.header .row{
    margin-top: 70px;
}
.containor{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}
p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 40%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px ;
    transition: 0.5s;
}
.btn:hover{
    background: #000;
}

.categories{
    margin: 70px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom:30px;
}
.col-3 img{
    width: 100%;
}
.small-containor{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #000;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 150px;
    height: 5px;
    border-radius: 5x;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
h4{
    color: #000;
    font-weight: normal;
}
.col-4 P{
    font-size: 14px;
}
.col-4:hover{
transform: translateY(-8px);
}
.rating{
    color: #ff523b;
}

.offer{
    background: radial-gradient(#fff,#ebc0c0);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
.small{
    color: #000;
    font-size: 12px;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
    transition: 0.5s;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .bxs-quote-left{
    font-size: 36px;
    margin-bottom: 10px;
    color: #ff523b;
}
.testimonial p {
    font-size: 12px;
    margin: 12px 0;
}
.testimonial h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
    margin-top: 10px;
}
.brands{
    margin: 100px auto;
}
.col-5{
    width: 100px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    margin: 15px 10px;
}
.col-5 img:hover{
   transform: translateY(-5px);
}
.footer{
    background: #000;
    font-size: 14px;
    padding: 60px 0 20px;
    color: #8a8a8a;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer ul li a {
    color: #8a8a8a;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3 li, .footer-col-4 li{
    padding: 10px;
}
.app-logo{
    margin-top: 30px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.cr{
    text-align: center;
    font-size: small;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}








.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}














.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: solid 1px #ff523b;
}
input:focus{
    outline: none;
}
.bx-right-indent{
    color:#ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}















.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 10px 5px;
    border: 1px solid #000;
    
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price {
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}






.cta {
    background: linear-gradient(#fff,#ebc0c0);
    min-height: 60vh;
    align-items: center;
}

.cta h6 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 100px;
}
.cta h4 {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 30px;
}
.col-2 .sales{
    width: 45%;
    height: 50%;
    margin-top: 20px; 
}
.box {
    position: relative;
    transition: all .4s ease;
}

.new{
    margin-top: 100px;
    margin-bottom: 100px;
}
.col-4 img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    height: auto;
}

.col-4 h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.col-4 h6 {
    font-size: 16px;
    font-weight: 700;
    text-decoration: line-through;
    text-align: center;

}

.sale {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    background: #ff523b;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.account-page{
    padding: 50px 0;
    background: linear-gradient(#fff, #ebc0c0);
}
.form-containor{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
    overflow: hidden;
}
.form-containor span{
    font-weight: bold;
    padding:  0 10px ;
    color: #000;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-containor form{
    position: absolute;
    max-width: 300px;
    padding: 0 20px;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ff523b;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form a{
    font: 14px;
    color: black;
    font-weight: 500;
}
form a:hover{
    font: 14px;
    color: #ff523b
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}













 


@media only screen and (max-width:800px) {
    nav ul{
     position: absolute;
     top: 70px;
     left: 0%;
     background: #333;
     width: 100%;
     overflow: hidden;
     transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width:600px){
    .row{
      text-align: center;
    }
    .col-2, .col-3, .col-4
    {
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
    .cta h6 {
        font-size: 25px;
       
    }
    .cta h4 {
       
        font-size: 35px;
       
    }
}